<div class="form-row">
  <div class="col-md-4 mb-3">
      <label>Student Name :</label>
      <input type="text" class="form-control" placeholder="Enter Student Name" required>
  </div>

  <div class="col-md-4 mb-3">
      <label>Student Last Name :</label>
      <input type="text" class="form-control" placeholder="Enter Student Last Name" required>
  </div>

  <div class="col-md-4 mb-3">
      <label>NickName : </label>
      <input type="text" class="form-control" placeholder="Enter NickName" required>
  </div>
</div>
<div class="form-row">
  <div class="col-md-4 mb-3">
      <label>Slack Name : </label> <span>#</span>
      <input type="text" class="form-control" placeholder="Enter Slack Name" required>
  </div>
  <div class="col-md-4 mb-3">
      <label>Email : </label>
      <input type="text" class="form-control" placeholder="Enter E-mail" required>
  </div>
  <div class="col-md-4 mb-3">
      <label>Cell Number : </label>
      <input type="text" class="form-control" placeholder="Enter Cell Number" required>
  </div>
</div>
<div class="form-row">
  <div class="col-md-12 mb-3">
      <label>Hobbies : </label> <span>#</span>
      <input type="text" class="form-control" placeholder="Enter Hobbies" required>
  </div>
</div>
<button class="btn btn-secondary" type="button">Cancel</button>
<button class="btn btn-primary" type="button">Save</button>
